
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color:rgb(240 210 244);
    background-image: url(img/isometric-online-education-concept_52683-8818.jpg),no-repeat;
}
nav{
    background-color:rgb(77, 6, 77);
}
.navbar-brand{
    font-size:37px;
    margin-left: 186px;
    font-family:  'Lobster', cursive;
}
.nav-item{
    font-size:19px;
}
.navbar-nav{
    margin-right: 100px;
    margin-left: 69px;
}
#home{
    margin-top:200px;
}
#home h1{
    font-size:35px;
    color:black;
    margin-top: -49px;
    margin-left: -69px;
    
}
#home span{
    font-size:73px;
    color:orange;
    font-family:  'Lobster', cursive;
}

.home a{
    font-size:20px;
   color:rgb(82, 9, 9);
   margin:10px 20px;
   text-decoration: none;
   margin-left: -69px;
}
.home a:hover{
    color: black;
    text-decoration: underline;
}

#home p{
    margin-left: -69px;
}

.btn1{
     height:39px;
    width:110px;
    border:none;
    outline:none;
    color:navy;
    background-color:rgb(247 165 15);
    vertical-align: middle;
    font-size:24px;
    border-radius:10px;
    margin-top:10px;
font-style: normal;
font-family: 'Roboto', sans-serif;
margin-left: 100px;
}
.text-muted  {
    color:black !important;
}

.container{
    width: 50%;
}

.sidebar{
    position:fixed;
    left:-250px;
    height:0%;
    width:250px;
    background:white;
    transition:all .3s ease;
    margin-top:80px ;
}
.sidebar header{
    color:black;
    font-size:35px;
    line-height:70px;
    text-align:center;
    background-color:rgba(255,255,255,0.2);
}
.sidebar ul li a{
    display:block;
    height:100%;
    width:95%;
    line-height:58px;
    padding-left:40px;
    color:black;
    border-bottom:2px solid #666;
    border-top:1px solid black;
    transition:all .3s ease;
}
ul li a:hover{
    padding-left:50px;
}
ul li a i{
    margin-right:10px;
    font-size:30px;
}
#check{
    display:none;
}
label #btn{
    position:absolute;
    cursor:pointer;
    background:#666;
    border-radius:3px;
    left:40px;
    top:25px;
    font-size:35px;
    color:white;
    padding:4px 9px;
}

label #cancel{
    z-index:1111;
    top:81px;
    left:-200px;
    color:black;
    padding:4px 9px;
    font-size:20px;
    position:absolute;
    cursor:pointer;
    transition:all .3s ease;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #cancel{
       left:200px;
}
